pane_frames false
theme "nord"
scroll_buffer_size 100000
scrollback_editor "nvim"
web-server false
// default_cwd "C:/Users/Sydney"
default_shell "nu"

keybinds {
    locked {
        bind "Ctrl g" { SwitchToMode "Normal"; }
        bind "Ctrl [" { Write 27; }
    }
    normal {
        bind "Ctrl g" { Write 7; SwitchToMode "Locked"; }

        // Tabs
        bind "1" { GoToTab 1; SwitchToMode "locked"; }
        bind "2" { GoToTab 2; SwitchToMode "locked"; }
        bind "3" { GoToTab 3; SwitchToMode "locked"; }
        bind "4" { GoToTab 4; SwitchToMode "locked"; }
        bind "5" { GoToTab 5; SwitchToMode "locked"; }
        bind "6" { GoToTab 6; SwitchToMode "locked"; }
        bind "7" { GoToTab 7; SwitchToMode "locked"; }
        bind "8" { GoToTab 8; SwitchToMode "locked"; }
        bind "9" { GoToTab 9; SwitchToMode "locked"; }
        bind "n" { GoToNextTab; SwitchToMode "locked"; }
        bind "p" { GoToPreviousTab; SwitchToMode "locked";}
        bind "t" { NewTab; SwitchToMode "locked"; }
        bind "0" { ToggleTab; SwitchToMode "locked"; }

        // Panes
        bind "h" { MoveFocus "left"; SwitchToMode "locked";}
        bind "j" { MoveFocus "down"; SwitchToMode "locked";}
        bind "k" { MoveFocus "up"; SwitchToMode "locked";}
        bind "l" { MoveFocus "right"; SwitchToMode "locked";}
        bind "x" { CloseFocus; SwitchToMode "locked"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "locked"; }
        bind "v" { NewPane "right"; SwitchToMode "locked"; }
        bind "s" { NewPane "down"; SwitchToMode "locked"; }
        bind "w" { ToggleFloatingPanes; SwitchToMode "locked"; }
        bind "tab" { SwitchFocus; SwitchToMode "locked"; }
    }
    shared_except "locked" "entersearch" {
        bind "enter" { SwitchToMode "locked"; }
    }
    shared_except "locked" {
        bind "esc" { SwitchToMode "locked"; }
        bind "Ctrl [" { SwitchToMode "locked"; }
    }
}

default_mode "locked"
show_startup_tips false
