layout {
  cwd "~/study"
  tab name="vnote" split_direction="vertical" hide_floating_panes=true cwd="vnote" {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane name="editor"
    pane name="chat" {
      command "opencode"
    }
    floating_panes {
      pane name="git"
    }
    pane size=1 borderless=true {
        plugin location="status-bar"
    }
  }
}
